
            #bodyindex, #bodyjavascripts {
                background-color: lightblue;
                 }
            #banner {
                        width: 100%;
                        margin-top: 0px;
                        margin-left: 0px;
                        margin-right: 0px;
                    }
            #nav-table {
                        width: 100%;
                        background-color: rgb(91,44,111);
                        margin-top: 0px;
                       }
            #nav-id {
                        width: 350px;
                        text-align:center;
                    }
            #home-button {
                        width: 250px;
                         }
            #java-button {
                        width: 250px;
                         }
            #about-button {
                        width: 250px;
                          }
            #bodyaboutme {
                        background-image: url("myBackground.jpeg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 1920px;
                         }
            #wrapper {
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                        padding-left: 10px;
                        padding-right: 10px;
                     }
            #content {
                        margin-left: 4px;
                        margin-right: 4px;
                     }
            h1 {
                        padding: 12px;
                        text-align: center;
                        font-family: "Courier New";
               }
            p {
                        text-align: center;
                        font-family: "Courier New";
               }
            #damienphoto1 {
                        float: left;
                        text-align: left;
                        width: 33%;
                        height: auto;
                        padding 4px;
                          }
            #damienphoto2 {
                        float: right;
                        text-align: right;
                        width: 33%;
                        height: auto;
                        padding 4px;
                          }
            #basketball {
                        text-align: center;
                        width: 33%;
                        height: auto;
                        padding: 4px;
                        }
            #gaming {
                        text-align:center;
                        width: 33%;
                        height: auto;
                        padding: 4px;
                    }
            #bitmoji {
                        text-align: left;
                        float: left;
                        width: 33%;
                        padding: 4px;
                     }
            #bitmojidance {
                        text-align: center;
                        width: 33%;
                        padding: 4px;
                     }
            #bitmojirace {
                        text-align: right;
                        float: right;
                        width: 33%;
                        padding: 4px;
                     }
                      
