
            #bodyindex, #bodyjavascripts {
                background-color: lightblue;
                 }
            #banner {
                        width: 100%;
                        margin:0 auto;
                    }
            #nav-table {
                        width: 100%;
                       }
            #nav-id {
                        width: 350px;
                        text-align:center;
                    }

            
